<?xml version="1.0"?>
<model>
  <name>tunnel</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>water_robot</name>
    <email>xiaoyang@todo.todo</email>
  </author>
  <description>
    A 30 m long, 10 m diameter hollow tunnel for Gazebo underwater robot simulation.
  </description>
</model>
