<?xml version="1.0"?>
<model>
  <name>pipe_robot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>water_robot</name>
    <email>xiaoyang@todo.todo</email>
  </author>
  <description>
    A 1 m long, 0.25 m diameter underwater robot with IMU, MAG, depth, DVL,
    four ranging sonars, and eight thruster links.
  </description>
</model>
